
<div class="container">
    
    <div class="jumbotron trans">
          <h1 class="display-5">SRM Messages</h1>
          <div style="text-align: center">
              <p class="lead">Listen Control</p>
        <a href="#main" class="btn btn-success btn-primary btn-lg active" id="startListen" role="button" aria-pressed="true" ng-click="startListen()">Start Listening</a>
        <a href="#main" class="btn btn-primary btn-lg btn-danger disabled" id="stopListen" role="button" aria-pressed="true" ng-click="stopListen()">Stop Listening</a>
        </div>
          <div class="album text-muted">
        <div class="container">

          <div class="row">

            <div class="card" ng-repeat="message in messages">
                <a href="#main" ng-click="sendAI(message.body)" style="text-decoration: none">
              <img data-src={{message.author.authorImage}} alt={{message.author.name}}>
              <p class="card-text">{{message.id}}</p><p class="card-text">{{message.body}}</p>
                    </a>
            </div>
          </div>

        </div>
      </div>
        </div>

</div>